a{
    margin-left: 10px;
}
#corpo{
    background-color: rgb(178, 236, 217);
}
#mirto{
    height: auto;

    max-width: 25.53%;
    
}
#conteudo{
    display: table;
}

#texto{
   
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
}
