a{
    margin-left: 10px;
}
#corpo{
    background-color: rgb(178, 236, 217);
}
#mirto{

    max-width: 50.53%;
    width: 300px;

    margin-right: 20px;
    float:left;
}
.cabeça{
    margin-top: 240px;
    margin-right: 50%;
    margin-left: 20px;
    text-alling: justify:
}



